.card__like-button {
  width: 22px;
  height: 19px;
  margin-top: 5px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, .0);
  background-image: url(../../../image/like-disable.svg);
  background-size: 22px 19px;
  border: none;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
  transition: linear 0.1s;
}