.footer__text {
  margin: 0;
  line-height: 22px;
  font-size: 18px;
  font-weight: 400;
  color: #545454;
}

@media screen and (min-width: 320px) and (max-width: 426px) {
  .footer__text {
    line-height: 17px;
    font-size: 14px;
  }
}