.profile__name {
  width: 100%;
  display: flex;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-items: center;
  justify-content: center;
  margin: 0 auto 0;
  gap: 18px;
  text-overflow: ellipsis; 
  white-space: nowrap; 
  overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width: 426px) {
  .profile__name {
    gap: 10px;
  }
}